* {
    --white: #FFFFFF;
    --blue: #084EFF;
    --red: #E23232;
    --black: #141415;
}



body {
    background-color: var(--blue);
}

/* desctop */
.radar {
    width: 100%;
}

.radar-inner {
    position: relative;
    height: 0;
    border: none;
}

.radar-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.radar-1-1 {
    padding-top: 49%;
}

.radar-spin {
    width: 4000px;
    height: 4000px;
    border-radius: 50%;
    background-image: url("../images/radar-light.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    animation: spin 2s linear infinite;
}

.radar-img {
    width: 100%;
    position: absolute;
    top: -5px;
}

/* mobile */

.radar-mobile {
    display: none;
    width: 100%;
}

.radar-inner-mobile {
    position: relative;
    height: 0;
    border: none;
}

.radar-1-1-mobile {
    padding-top: 217%;
}


.radar-content-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--black);
}

.radar-content-mobile img {
    position: absolute;
    width: 100%;
    top: 750px;
    left: 2px;
    animation: line-move-mobile 2.5s linear infinite;
}


.radar-mobile-img {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
}

/* desctop */

.tape {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow-x: hidden;
}

.tape div {
    position: absolute;
}

.printer {
    position: absolute;
    left: 290px;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.printer img {
    position: absolute;
}

#print {
    animation: print 0.4s infinite alternate linear;
}

.printer-tablet {
    position: absolute;
    top: 100px;
}

.tickets {
    top: 50px;
}

.tickets img {
    position: absolute;
}

#red-tape {
    animation: row-move 25s infinite linear;
}

#white-tape {
    top: 316px;
    animation: row-move 25s infinite linear reverse;
}

#black-tape {
    top: 630px;
    animation: row-move 25s infinite linear;
}

#blank {
    top: 1px;
    background-color: white;
    height: 271px;
    width: 300px;
    z-index: 2;
    overflow: hidden;
}

#blank img {
    position: absolute;
    top: 1px;
    /* animation: row-move 20s infinite linear; */
}

/* tablet */

.tape-tablet-container {
    display: none;
    width: 100%;
}

.tape-tablet-inner {
    position: relative;
    height: 0;
    border: none;
}

.tape-1-1-tablet {
    padding-top: 298%;
}

.tape-tablet {
    /* height: 3050px; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.tape-tablet div {
    flex-basis: 42.44%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.tape-tablet div img{
    width: 100%;
    position: absolute;
    animation: row-move-tablet 20s infinite linear reverse;
}

#right-tape img {
    animation: row-move-tablet 20s infinite linear;
}

/* mobile */

.tape-mobile-container {
    display: none;
    width: 90%;
    margin: 0 auto;
}

.tape-mobile-inner {
    position: relative;
    height: 0;
    border: none;
}

.tape-1-1-mobile {
    padding-top: 1098%;
}

.tape-mobile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.tape-mobile img {
    width: 100%;
    position: absolute;
    animation: row-move-mobile 10s infinite linear;
}

footer {
    width: 100%;
    height: 183px;
    position: relative;
    background-color: var(--blue);
    overflow: hidden;
}

footer img {
    position: absolute;
}

#footer-light1 {
    animation: line-move 3s infinite linear;
    left: -322px;
}

#footer-light2 {
    animation: line-move 3s infinite linear;
    animation-delay: 1.5s;
    left: -322px;
}

@keyframes print {
    0% {top: 20px;}
    100% {top: 300px;}
}


@keyframes spin {
    0% {transform: rotate(-360deg);}
    100% {transform: rotate(0deg);}
}


@keyframes row-move {
    0% {right: -2332px;}
    100% {right: -7550px;}
}

@keyframes row-move-tablet {
    0% {top: 0%}
    100% {top: -395%}
}

@keyframes row-move-mobile {
    0% {top: 0%;}
    100% {top: -253%;}
}

@keyframes line-move {
    0% {left: -322px;}
    100% {left: 2000px;}
}

@keyframes line-move-mobile {
    0% {top: 750px;}
    100% {top: -200px;}

}
